* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main-header {
    padding: 10px 16px;
    min-height: 120px;
    width: 100%;
    text-align: center;
    background: #9D3FF3;
    color: white;
    font-size: 12px;

}

.header-section-1{
    float: left;
}

.header-section-2{

}

.header-section-3{
    float: right;
}

.qien-logo {
    position: relative;
    width: 95px;
    height: 95px;
}

.log-uit {
    position: relative;
    top: 65px;
    height: 40px;
}

.container {
        width: 960px;
        max-width: 100%;
        padding: 0 40px;
        margin: 40px auto ;
    text-align: center;
}

.dashboard{
    border-color: black;
    border-style: solid;
    padding: 10px;
    text-align: left;
    min-height: 300px;
}

.main-header .container {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
}

footer{
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 30px;
}

h1 {
    margin: 20px
}

input[type=button] {
    padding: 5px 5px;
    background: #dec2ff;
    color: #2a0175;
    border: 1px solid;
    border-color: #9D3FF3;
    border-radius: 4px;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    transition: .2s ease;
}

input[type=button]:hover {
    background: #ffb82b;
    color: #2a0175;
    transition: .2s ease;
}

label {
    display: block;
}

table, th, td {
    min-width: 120px;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #000000;
    background-color: #ffffff;
}